4:39
.button {
  vertical-align: middle;
  margin-top: auto;
}
.container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  padding: 40px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(133, 126, 126);
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgba(39, 41, 40, 0.212);
  color: rgb(133, 126, 126);
  font-size: 14px;
}
input[type="text"]:focus {
  border: 3px solid rgb(158, 161, 131);
}
.message {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
}