nav {
  display: flex;
  justify-content: space-around;
  align-items: right;
  min-height: 8vh;
  font-family: monospace
}
.the-links {

  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 40%;
}
.the-links a {
 border: 1px solid white;
  color: rgb(155, 155, 155);
  opacity: 0.6;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.the-links li {
  background-color: black;
  list-style: none;
}

.the-links li:hover {
 color: black;
  background-color: rgb(229, 226, 226);
  list-style: none;
}
h3 {
  color: rgb(155, 155, 155);
  font-family: monospace;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 10%;
  font-size: 44px;
  color: rgba(94, 68, 23, 0.783);
}